data
nbproject
nbproject/*
application/logs
application/logs/*
application/cache
application/cache/*
application/config/ASSET_COMPILE_TIME
application/views_lang/*

js/bundle.js
css/bundle.css
*.swp
*.swo
.vscode/*
*.map
.ftpconfig
sftp-config.json
deploy_rsa
composer.lock
vendor
.DS_Store
.remote-sync.json
node_modules/
.idea/
js/bundles/
bundles/
npm-debug.log
css/legacy-styles/scss-manifest.css

js/reactjs/newBuildingBlock/styles/style.css
js/reactjs/newBuildingBlock/styles/style.css.map
